/* #212121 заголовки
#757575 текст р
#2196F3 кнопка в герое ссылки ховер часть лого
#FFFFFF адрес в футере, н1 в герое, кнопки в ховере лого в футере
#000000 лого в навигации

E5E5E5  основной почти белый секция особенности и все портфолио
F5F4FA наша команда 
2F303A герой и футер 
FFFFFF навигация 

font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/

/* body */
.page {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #e5e5e5;
}

.header {
  background-color: #ffffff;
}
/* logo */
.logo {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-primary {
  color: #2196f3;
}
.logo-secondary {
  color: #000000;
}
.logo-tertiary {
  color: #ffffff;
}

/* подсветка активной страницы ??? */
.nav-link.current {
  color: #2196f3;
}

/* навигация */
.nav {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-address,
.nav-list {
  list-style: none;
}

.nav-link,
.logo {
  color: #212121;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.nav-mail,
.nav-tel {
  color: inherit;
  text-decoration: none;
}

.nav-mail:hover,
.nav-mail:focus,
.nav-tel:hover,
.nav-tel:focus {
  color: #2196f3;
}

/* герой */
.hero {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero,
.footer {
  background-color: #2f303a;
}

.hero-btn {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}
.hero-btn:hover {
  background-color: #188ce8;
}

/* наша команда */
.team {
  background-color: #f5f4fa;
}
.team-name,
.team-position {
  font-size: 16px;
}

/*  убрать точки у списков */
.peculiarities-item,
.disc-item,
.team-item,
.filters,
.projects {
  list-style-type: none;
}

/* заголовки h2 */
.disc-titel .team {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.hidden {
  font-family: "Roboto";
  font-weight: bold;
  text-transform: uppercase;
}

.disc-titel,
.peculiarities-titel,
.team-titel,
.team-name,
.heading-title {
  color: #212121;
}

/* портфолио фильтр кнопки */
.filter-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

/* убрать подчеркивание */
.project-link,
.footer-maps {
  text-decoration: none;
}
.portfolio-title {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87;
}

.heading-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* футер для двух страниц */
.footer-list {
  list-style: none;
}
.footer-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-maps {
  color: #ffffff;
}
.footer-maps:hover,
.footer-maps:focus {
  color: #2196f3;
}

.footer-link:hover,
.footer-link:focus {
  color: #2196f3;
}
